@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');


$main-font: 'Lato';
$second-font: Verdana;

%main-font {
  font-family: $main-font, Helvetica, Verdana, Arial, sans-serif;
}

%second-font {
  font-family: $second-font, Helvetica, Verdana, Arial, sans-serif;

}
