.button {
	display: inline-block;
	padding: 15px 60px;
	border: 0;
	border-radius: 7px;

	background-color: $color-attention;

	transition: all 0.3s;
	cursor: pointer;

	&:hover {
		color: $color-main-white;
		background-color: $color-main-black;
	}

	&:disabled {
		color: $color-main-black;
		background-color: $color-main-black;

		cursor: default;
	}
}
