.card {
  grid-auto-flow: row dense;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  flex: 1 1 33.33%;
  min-width: 375px;
  padding: 55px;

  &_first {
    background-color: $card-first;

    .button {
      color: $card-first;
    }
  }

  &_second {
    background-color: $card-second;

    .button {
      color: $card-second;
    }
  }

  &_third {
    background-color: $card-third;

    .button {
      color: $card-third;
    }

    @media (width < 1125px) {
      grid-column: span 2;
    }

    @media (width < 750px) {
      grid-column: span 1;
    }
  }
}
