.grid-example {
  display: grid;
  grid-template-columns: 1.5fr 7fr 1.5fr;

  & div:first-child {
    grid-column: 1 / 2;
  }

  & .center {
    grid-column: 2 / 3;
  }

  & div:last-child {
    grid-column: 3 / 4;
  }
}
