.inline-example {
  font-size: 0;

  > div {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    @include font-source(16px)
  }

  & div:first-child, div:last-child {
    width: 15%;
  }

  & .center {
    width: 70%;
  }
}
