body, html {
	box-sizing: border-box;
}

*, *::after, *::before {
	box-sizing: inherit;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

h2 {
	margin: 0;
	font-family: $second-font;
	font-weight: 700;
	color: $headlines;
	text-transform: uppercase;
	font-size: 40px;
	margin-top: 50px;
}

p {
	font-family: $main-font;
	font-weight: 400;
	color: $paragraphs;
	margin: 50px 0;
}
