@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");
.clearfix::before, .clearfix::after {
  display: table;
  content: " ";
}

.clearfix::after {
  clear: both;
}

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
	 ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
	 ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

header, nav, section, article, aside, footer, main {
  display: block;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

ul, ol {
  list-style: none;
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

html {
  font-family: "Lato", Helvetica, Verdana, Arial, sans-serif;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}
a:hover, a:focus {
  color: #F06C64;
}

.wrapper {
  margin: auto;
  max-width: 1020px;
  overflow: hidden;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}

.header {
  background-color: #2D303A;
  position: relative;
}

.header__wrapper {
  display: flex;
  align-items: baseline;
  overflow: visible;
  min-height: 85px;
  padding-top: 25px;
  padding-bottom: 30px;
}
@media (width <= 635px) {
  .header__wrapper {
    align-items: center;
  }
}

.header__burger {
  margin-right: 30px;
}

.logo {
  font-size: 25px;
  color: white;
  font-weight: 700;
  letter-spacing: -0.75px;
  transition: color 0.3s linear;
}
@media (width <= 635px) {
  .logo {
    position: relative;
    z-index: 3;
  }
}
.logo__star {
  color: #F06C64;
  vertical-align: top;
  transition: color 0.3s linear;
}

.logo-link:hover .logo, .logo-link:focus .logo {
  color: #F06C64;
}

.logo-link:hover .logo__star, .logo-link:focus .logo__star {
  color: white;
}

.hero {
  background-color: #F06C64;
  border-bottom: 6px solid #EA676B;
}

.main-content-block__wrapper {
  padding-top: 55px;
  padding-bottom: 55px;
}

.main-content-block__headline {
  font-size: 30px;
  color: #666D89;
  font-weight: 700;
}

.main-content-block__text {
  font-size: 18px;
  color: #767E9E;
  font-weight: normal;
  line-height: 30px;
}

.main-content-block__services-list {
  margin-top: 55px;
}

.main-content-block__portfolio-list {
  margin-top: 25px;
}

.our-services {
  background-color: #F2F2F2;
}

.our-portfolio {
  background-color: #2D303A;
}

.footer {
  border-top: 7px solid #323746;
  background-color: #2D303A;
  color: #767E9E;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
}

.footer__copyrights {
  font-size: 13px;
  color: #767E9E;
  font-weight: 700;
  line-height: 18px;
}

.main-navigation {
  margin-left: auto;
}
@media (width <= 645px) {
  .main-navigation {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
    min-width: 280px;
    height: 100vh;
    z-index: 2;
    background-color: #2D303A;
    transform: translateX(-100%);
    transition: transform 0.2s ease-out;
  }
}
.main-navigation_burger-visible {
  transform: none;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4);
}
.main-navigation_burger-visible::before {
  content: "";
  position: absolute;
  display: block;
  z-index: 1;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.navigation-list__item {
  display: inline-block;
  position: relative;
  padding: 0 10px;
}
.navigation-list__item::before {
  content: ".";
  position: absolute;
  display: block;
  font-size: 24px;
  color: white;
  font-weight: 700;
  left: 0;
  bottom: 0;
  transform: translateX(-50%);
}
.navigation-list__item:first-child::before {
  display: none;
}
@media (width <= 645px) {
  .navigation-list__item {
    display: block;
    padding: 15px 0;
  }
  .navigation-list__item::before {
    display: none;
  }
}

.navigation-list__link {
  font-size: 12px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 10px;
}
@media (width <= 645px) {
  .navigation-list__link {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.84px;
  }
}

.navigation-list__link_active {
  color: #F06C64;
}

.carousel {
  position: relative;
}

.carousel__screen {
  overflow: hidden;
}

.carousel__cart {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  transition: transform 0.3s linear;
}

.carousel__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  padding: 40px 11%;
}

.carousel__control-block {
  position: absolute;
  width: 100%;
  top: calc(50% - 13px);
}

.carousel__control-button {
  position: absolute;
  width: 16px;
  height: 27px;
  padding: 20px;
  border: none;
  background-color: transparent;
  background: center no-repeat url("./src/img/icons/carousel-arrow.svg");
  transition: transform 0.2s ease-in;
  cursor: pointer;
}
.carousel__control-button:hover {
  transform: scale(2);
}

.carousel__control-button_right {
  transform: rotate(180deg);
  right: 0;
}
.carousel__control-button_right:hover {
  transform: scale(2) rotate(180deg);
}

.services-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-list__item {
  flex: 1 1 33.33%;
  min-width: 300px;
  margin-bottom: 20px;
}
@media (width >= 980px) {
  .services-list__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media (width >= 680px) {
  .services-list__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media (width <= 679px) {
  .services-list__item:last-child() {
    margin-bottom: 0;
  }
}

.services-list__icon {
  width: 60px;
  height: 60px;
  float: left;
}
.services-list__icon_1 {
  background: url(./src/img/icons/services-item-1.svg);
}
.services-list__icon_2 {
  background: url(./src/img/icons/services-item-2.svg);
}
.services-list__icon_3 {
  background: url(./src/img/icons/services-item-3.svg);
}
.services-list__icon_4 {
  background: url(./src/img/icons/services-item-4.svg);
}
.services-list__icon_5 {
  background: url(./src/img/icons/services-item-5.svg);
}
.services-list__icon_6 {
  background: url(./src/img/icons/services-item-6.svg);
}

.services-list__about-block {
  padding: 0 20px;
  overflow: hidden;
}

.services-list__headline {
  font-size: 18px;
  color: #666D89;
  font-weight: 700;
  line-height: 18px;
}

.services-list__description {
  font-size: 12px;
  color: #666D89;
  font-weight: 400;
  line-height: 22px;
  text-align: justify;
}

.tag {
  display: inline-block;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #666D89;
  margin-right: 10px;
  background-color: transparent;
  font-size: 12px;
  color: #767E9E;
  font-weight: 400;
  line-height: 12px;
  cursor: pointer;
  transition: color 0.2s linear;
}
.tag:last-child {
  margin-right: 0;
}
@media (width <= 401px) {
  .tag:last-child {
    margin-top: 10px;
  }
}
.tag:hover, .tag:focus {
  color: white;
}
.tag_active {
  border-color: #F2F2F2;
  color: #F2F2F2;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

@media (width > 375px) {
  .portfolio-list__item {
    flex: 0 1 33.3%;
    padding: 2%;
  }
  .portfolio-list__item:nth-last-child(-n+3) {
    padding-bottom: 0;
  }
  .portfolio-list__item:nth-child(-n+3) {
    padding-top: 0;
  }
}
@media (width > 768px) {
  .portfolio-list__item {
    flex: 0 1 25%;
    padding: 1%;
  }
  .portfolio-list__item:nth-last-child(-n+4) {
    padding-bottom: 0;
  }
  .portfolio-list__item:nth-child(-n+4) {
    padding-top: 0;
  }
}
@media (width <= 375px) {
  .portfolio-list__item {
    flex: 0 1 50%;
    padding: 2%;
  }
  .portfolio-list__item:nth-last-child(-n+2) {
    padding-bottom: 0;
  }
  .portfolio-list__item:nth-child(-n+2) {
    padding-top: 0;
  }
}

.portfolio-list__img {
  border-radius: 3px;
}

.social-list__item {
  display: inline-block;
  margin-right: 8px;
}
.social-list__item:last-child {
  margin-right: 0;
}

.icon {
  display: block;
  width: 33px;
  height: 32px;
  transition: all 0.3s;
  cursor: pointer;
}
.icon_facebook {
  background-image: url(./src/img/icons/ico-facebook.svg);
}
.icon_google {
  background-image: url(./src/img/icons/ico-google-plus.svg);
}
.icon_twitter {
  background-image: url(./src/img/icons/ico-twitter.svg);
}
.icon_linkedin {
  background-image: url(./src/img/icons/ico-linkedin.svg);
}
.icon:hover, .icon:focus {
  opacity: 0.5;
}

.button {
  display: inline-block;
  transition: all 0.3s;
  cursor: pointer;
}
.button:hover, .button:focus {
  color: white;
  background-color: #000;
}
.button:disabled {
  color: #000;
  background-color: #000;
  cursor: default;
}

.burger {
  width: 25px;
  height: 20px;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  cursor: pointer;
  transition: transform 0.1s linear;
}
.burger::before {
  content: "";
  position: static;
  display: block;
}
.burger::after {
  content: "";
  position: static;
  display: block;
}
@media (width <= 645px) {
  .burger {
    position: relative;
    z-index: 3;
    display: flex;
  }
}
.burger_active {
  transform: rotate(90deg);
}

.burger__line, .burger::before, .burger::after {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: white;
}/*# sourceMappingURL=main.css.map */