.burger {
  width: 25px;
  height: 20px;
  position: relative;

  flex-direction: column;
  justify-content: space-between;

  display: none;

  cursor: pointer;

  &::before {
    @include pseudo($pos: static);
    @extend .burger__line;
  }

  &::after {
    @include pseudo($pos: static);
    @extend .burger__line;
  }

  @media (width <=645px) {
    position: relative;
    z-index: 3;
    display: flex;
  }

  &_active {
    .burger__line {
      opacity: 0;
    }

    &::before {
      transform: scaleX(1.5) rotate(45deg);
      transform-origin: top left;
    }

    &::after {
      transform: scaleX(1.5) rotate(-45deg);
      transform-origin: bottom left;
    }
  }


}

.burger__line {
  display: block;

  width: 100%;
  height: 3px;

  border-radius: 5px;

  background-color: $color-main-white;

  transition: all 0.3s linear;
}
