.burger {
  width: 25px;
  height: 20px;
  position: relative;

  flex-direction: column;
  justify-content: space-between;

  display: none;

  &::before {
    @include pseudo($pos: static);
    @extend .burger__line
  }

  &::after {
    @include pseudo($pos: static);
    @extend .burger__line
  }

  @media (width <=645px) {
    position: relative;
    z-index: 3;
    display: flex;
  }
}

.burger__line {
  display: block;

  width: 100%;
  height: 3px;

  border-radius: 5px;

  background-color: $color-main-white;
}
