.button {
  display: inline-block;

  transition: all 0.3s;
  cursor: pointer;

  &:hover, &:focus {
    color: $color-main-white;
    background-color: $color-main-black;
  }

  &:disabled {
    color: $color-main-black;
    background-color: $color-main-black;

    cursor: default;
  }
}
