.carousel {
  position: relative;
}

.carousel__screen {
  overflow: hidden;
}

.carousel__cart {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;

  transition: transform 0.3s linear;
}

.carousel__item {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 100%;

  padding: 40px 11%;
}

.carousel__control-block {
  position: absolute;
  width: 100%;
  top: calc(50% - 13px);
}

.carousel__control-button {
  position: absolute;

  width: 16px;
  height: 27px;

  padding: 20px;

  border: none;
  background-color: transparent;
  background: center no-repeat url("./src/img/icons/carousel-arrow.svg");


  transition: transform 0.2s ease-in;
  cursor: pointer;

  &:hover {
    transform: scale(2);
  }
}

.carousel__control-button_right {
  transform: rotate(180deg);
  right: 0;

  &:hover {
    transform: scale(2) rotate(180deg);
  }
}
