.icon {
  display: block;
  width: 33px;
  height: 32px;

  transition: all 0.3s;

  cursor: pointer;

  &_twitter {
    background-image: url(./src/img/icons/ico-twitter.svg);
  }

  &:hover, &:focus {
    opacity: 0.5;
  }
}
