@mixin push--auto {
	margin: {
		left: auto;
		right: auto;
	}
}

@mixin pseudo($disp: block, $pos: absolute, $cont: '') {
	content: $cont;
	position: $pos;
	display: $disp;
}

@mixin font-source($family: false, $size: false, $lh: false, $weight: initial, $color: false) {

	@if $family ==1 {
		font-family: $main-font, Helvetica, Verdana, Arial, sans-serif;
	}

	@if $family ==2 {
		font-family: $second-font, Helvetica, Verdana, Arial, sans-serif;
	}

	@if $size {
		font-size: $size;
	}

	@if $color {
		color: $color;
	}

	@if $weight {
		font-weight: $weight;
	}

	@if $lh {
		line-height: $lh;
	}
}

@mixin placeholder {
	&:-moz-placeholder {
		@content;
	}

	&::-moz-placeholder {
		@content;
	}

	&:-ms-input-placeholder {
		@content;
	}

	&::-webkit-input-placeholder {
		@content;
	}

	&.placeholder {
		@content;
	}
}
