@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin pseudo($disp: block, $pos: absolute, $cont: '') {
  content: $cont;
  position: $pos;
  display: $disp;
  @content;
}

@mixin media-source($type: false) {
  @if $type ==laptop {
    @media (width <=$media-laptop) {
      @content;
    }
  }

  @if $type ==tablet {
    @media (width <=$media-tablet) {
      @content;
    }
  }

  @if $type ==mobile {
    @media (width <=$media-mobile) {
      @content;
    }
  }

  @if $type ==mobile-small {
    @media (width <=$media-mobile-small) {
      @content;
    }
  }
}

@mixin font-source($size: false, $weight: initial, $color: false, $lh: false) {

  @if $size {
    font-size: $size;
  }

  @if $color {
    color: $color;
  }

  @if $weight {
    font-weight: $weight;
  }

  @if $lh {
    line-height: $lh;
  }
}
