.header {
  background-color: $color-dark-bg;
  position: relative;
}

.header__wrapper {
  display: flex;
  align-items: baseline;

  overflow: visible;

  min-height: 85px;

  padding-top: 25px;
  padding-bottom: 30px;

  @media (width <=635px) {
    align-items: center;

  }
}

.header__burger {
  margin-right: 30px;
}

.logo {
  @include font-source(25px, 700, $color-main-white);
  letter-spacing: -0.75px;

  transition: color 0.3s linear;

  @media (width <=635px) {
    position: relative;
    z-index: 3;

  }

  &__star {
    color: $color-brand;
    vertical-align: top;
    transition: color 0.3s linear;
  }
}

.logo-link:hover .logo, .logo-link:focus .logo {
  color: $color-brand;
}

.logo-link:hover .logo__star, .logo-link:focus .logo__star {
  color: $color-main-white;
}
