.button {
	@include font-source(1, 1.6rem, 700);
	display: inline-block;
	padding: 1em 2em;

	border: none;
	border-radius: 0.5em;
	box-shadow: 0 0.7em 1.5em 0.5em $color-shadow;

	color: $color-main-white;
	background-color: $color-attention;

	transition: all 0.3s;
	cursor: pointer;

	&:hover {
		color: $brand-color;
		background-color: $color-main-white;
	}

	&:disabled {
		color: $color-main-black;
		background-color: $color-main-black;

		cursor: default;
	}
}
