.company-card {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;
	max-width: 635px;

	overflow: hidden;
	border-radius: 0.5em;

	box-shadow: 0 0 2em 0.7em hsla(200, 50, 50, 0.15);

	font-size: 1.6rem;

	@media (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}

/* HEADER BLOCK */

.company-card__header {
	grid-column: 1 / 3;
	padding: 2.8em;

	background-color: $color-main-white;

	@media (max-width: 600px) {
		grid-column: 1 / 2;
	}
}

.company-card__headline {
	@include font-source($weight: 700, $color: $brand-color);
	margin-bottom: 0.7em;
}

.company-card__description {
	@include font-source($color: $color-main-text, $lh: 1.5);
	margin-bottom: 0;

	&_attention {
		@include font-source($weight: 700, $color: $color-attention);
		margin-bottom: 1em;
		letter-spacing: 0.1em;
	}
}
