html {
	@include font-source(1, 16px);
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	color: inherit;
	text-decoration: none;

	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		color: red;
	}
}
