$color-main-black: black;
$color-main-white: white;
$color-main-white-transparent: hsla(0, 0%, 100%, 0.50);
$brand-color: #2bb3b1;
$brand-color-bright: #4abebd;
$color-attention: #bfdf32;
$color-main-text: #9092a0;
$color-shadow: hsla(190, 15%, 20%, 0.1);
